*{
    margin: 0 ;
    padding: 0;
    font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0 auto;
    background-color: #fafafa;
}
.box{
    width: 1200px;
    margin: 0 auto;
}
.subnav{
    padding: 30px 0;
    border-bottom: 1px solid #d0d6d9;
}
.direction{
    height: 48px;
    font-size: 0.8rem;
    line-height: 48px;
    border-bottom: 1px solid #edf1f2;
}
.direction_title{
    color: #999999;
    float: left;
}
.direction li{
    list-style-type: none;
    float: left;
    margin: 0 30px;
}
.direction a{
    text-decoration: none;
    padding: 2px 4px;
}
.direction a:link,.direction a:visited{
    color: black;
}
.direction a:hover,.direction a:active,.direction a:focus{
    color: white;
    background-color: #29b078;
}
.tag{
    clear: both;
    padding: 30px 0;
    font-size: 1rem;
    border-bottom: 1px solid #d0d6d9;
    font-weight: 600;
}
dl{
    width: 385px;
    height: 445px;
    border: 1px solid #e2e2e2;
    margin-right: 10px;
    margin-top: 45px;
    float: left;
    position: relative;
}
.first{
    border-bottom: 1px solid #e2e2e2;
    height: 175px;
}
.first img{
    float: left;
    margin: 20px 10px 15px 11px;
}
.first_title{
    font-weight: 600;
    padding-top: 30px;
}
.first_content{
    font-size: 0.8rem;
    padding:  16px 10px;
    line-height: 20px;
}
.two{
    float: left;
    width: 50%;
    height:40px;
    font-size: 0.8rem;
    color: #999999;
    line-height: 40px;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
.two-title{
    float: left;
    width: 40%;
    text-align: center;
}
.two-content{
    float: left;
    width: 60%;
}
.two img{
    vertical-align: middle;
}
.three{
    width: 100%;
    clear: both;
}
.three-left{
    width: 40%;
    height:105px;
    font-size: 0.8rem;
    color: #999999;
    line-height: 105px;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    text-align: center;
    float: left;
}
.three-right{
    float: left;
    width: 60%;
    height: 35px;
    line-height: 35px;
    font-size: 0.7rem;
    border-bottom: 1px solid #e2e2e2;
}
.year{
    width: 50%;
    float: left;
    padding-left: 24px;
}
.money{
    float: left;
    width: 50%;
    padding-right: 12px;
    text-align: right;
}
.four{
    clear: both;
    height: 40px;
    line-height: 40px;
    font-size: 0.8rem;
    font-weight: 600;
    border-bottom: 1px solid #e2e2e2;
    padding-left: 15px;
}
.five{
    font-size: 0.7rem;
    color: #a9a9a9;
    text-align: center;
    line-height: 40px;
}
.ios{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 385px;
    height: 445px;
    color: #fff;
    font-size: 16px;
    padding-top: 85px;
    padding-left: 40px;
    padding-right: 40px;
    opacity: 0;
}
.ios-title{
    line-height: 100px;
    text-align: center;
}
.ios p{
    text-indent: 2rem;
}
.ios:hover{
    opacity: 1;
}